<style>
a {
    color: black;
    text-decoration-line: none;
}

.a.hover {
    color:black;
    text-decoration: none;
    }
 
</style>

<div style="text-align:center; margin: 2rem 0;"> 
    <div>
        <h1 style="font-family: 'Lobster', cursive;">pragmatic</h1>
    
    </div>
    <div>
        <a href="{% url 'accountapp:hello_world' %}" style="margin: 0rem 0.5rem">
            <span>Home</span>
        </a>
        <a href="{% url 'articleapp:list' %}" style="margin: 0rem 0.5rem">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" style="margin: 0rem 0.5rem">
            <span>Project</span>
        </a>
                
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" style="margin: 0rem 0.5rem">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}" style="margin: 0rem 0.5rem">
            <span>Sign Up</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" style="margin: 0rem 0.5rem">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" style="margin: 0rem 0.5rem">
            <span>logout</span>
        </a>
        {% endif %} 
    
    </div>
</div>